@model List<CompetentieTool.Models.ViewModels.Group<string, CompetentieTool.Models.ViewModels.RapportViewModel>>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/eigenCss.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="~/lib/jquery/jquery.canvasjs.min.js"></script>
    <title>Rapport</title>
    <script>
window.onload = function () {
    CanvasJS.addColorSet("kleuren",
        [//colorSet Array

            "#576ff2",
            "#ffffff"
        ]);
    
        var chart = new CanvasJS.Chart("chartContainer1", {
        animationEnabled: false,
	title: {
        text: "@Html.ViewBag.Percentage1",
        verticalAlign: "center"
        },
        toolTip: {
            enabled: false
    },
	data: [{
		type: "doughnut",
		startAngle: -90,

		dataPoints: @Html.Raw(ViewBag.DataPoints1)
	}]
});
    chart.render();

    
        var chart2 = new CanvasJS.Chart("chartContainer2", {
            animationEnabled: false,
            title: {
                text: "@Html.ViewBag.Percentage2",
                verticalAlign: "center"
            },
            toolTip: {
                enabled: false
            },
            data: [{
                type: "doughnut",
                startAngle: -90,

                dataPoints: @Html.Raw(ViewBag.DataPoints2)
	}]
        });
        chart2.render();
    
        var chart3 = new CanvasJS.Chart("chartContainer3", {
            animationEnabled: false,
            title: {
                text: "@Html.ViewBag.Percentage3",
                verticalAlign: "center"
            },
            toolTip: {
                enabled: false
            },
            data: [{
                type: "doughnut",
                startAngle: -90,

                dataPoints: @Html.Raw(ViewBag.DataPoints3)
	}]
        });
        chart3.render();

    
}
    </script>
</head>
<body class="container">
    <h1 class="text-center">Vacature: @ViewBag.title</h1>
    <div class="alert alert-info">
        <h4>Uitleg:</h4>
        <h5>@ViewBag.desc</h5>
        <hr />
        <h3>Gegevens sollicitant</h3>
        <h4>Naam:</h4>
        <h5>@ViewBag.naam</h5>
        <h4>Email: </h4>
        <h5>@ViewBag.mail</h5>
        <h4>Telefoon: </h4>
        <h5>@ViewBag.telefoon</h5>
        <h4>Datum: </h4>
        <h5>@ViewBag.datum</h5>
    </div>
    <div>
        <h2 class="text-center">Rubrics</h2>
        <div class="row">
                <div class="col-sm" id="chartContainer1" style="width: 32%; height: 300px;display: inline-block;"></div>
                <div class="col-sm" id="chartContainer2" style="width: 32%; height: 300px;display: inline-block;"></div>
                <div class="col-sm" id="chartContainer3" style="width: 32%; height: 300px;display: inline-block;"></div>
        </div>

        <div class="alert alert-success">
            <div class="row ">

                <div class="col-sm-4"><h4>Grondhouding</h4></div>
                <div class="col-sm-4"><h4>Kennis</h4></div>
                <div class="col-sm-4"><h4>Vaardigheden</h4></div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    @if (!ViewBag.Percentage1.Equals("Niet ondervraagd"))
                    {
                        @foreach (var com in ViewBag.comp1)
                        {
                            <h5>@com</h5>
                        }
                    }
                    else
                    {
                        <h5>DEZE RUBRICS WERDEN NIET ONDERVRAAGD</h5>
                    }

                </div>
                <div class="col-sm-4">
                    @if (!ViewBag.Percentage2.Equals("Niet ondervraagd"))
                    {
                        @foreach (var com in ViewBag.comp2)
                        {
                            <h5>@com</h5>
                        }
                    }
                    else
                    {
                        <h5>DEZE RUBRICS WERDEN NIET ONDERVRAAGD</h5>
                    }
                </div>

                <div class="col-sm-4">
                    @if (!ViewBag.Percentage3.Equals("Niet ondervraagd"))
                    {
                        @foreach (var com in ViewBag.comp3)
                        {
                            <h5>@com</h5>
                        }
                    }
                    else
                    {
                        <h5>DEZE RUBRICS WERDEN NIET ONDERVRAAGD</h5>
                    }
                </div>
            </div>
            <hr />
            <h5>Het diagram toont aan hoeveel de visie van de sollicitant overeen komt met die van u.</h5>
        </div>
        <hr />
    </div>

        @foreach (var opt in Model)
        {
    <div>
        <h2 class="text-center">@opt.Key</h2>
        @foreach (var vraag in opt.Values)
        {<div class="container">
    <h4><strong>Competentie:</strong> @vraag.CompetentieNaam</h4>
    <h5><strong>Verklaring:</strong> @vraag.Verklaring</h5>
    @if (vraag.Vignet != null && !vraag.Vignet.Trim().Equals("LEEG"))
    {
        <div class="alert alert-warning">
            <h5>Deze vraag hoort bij vignet @vraag.Vignet</h5>
        </div>

    }

    @foreach (var v in vraag.vms)
    {



        @if (!v.Antwoord.Equals("LEEG"))
        {
            <div class="alert alert-success">
                <h5><strong>Vraag:</strong> @v.VraagStelling</h5>
                @if (v.VraagType.Equals(CompetentieTool.Models.Domain.VraagType.OPEN))
                {
                    <h5><strong>Antwoord sollicitant:</strong></h5>
                }
                else
                {
                    <h5><strong>Keuze sollicitant:</strong></h5>
                }
                <div class="container">
                    <h5>@v.Antwoord</h5>
                </div>




            </div>
        }

    }
</div>

        }

        <hr />
    </div>
        }




</body>
</html>
