
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/eigenCss.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="~/lib/jquery/jquery.canvasjs.min.js"></script>
    <title>Rapport</title>
    <script>
window.onload = function () {
    CanvasJS.addColorSet("kleuren",
        [//colorSet Array

            "#576ff2",
            "#ffffff"
        ]);
    var chart = new CanvasJS.Chart("chartContainer1", {
        animationEnabled: false,
	title: {
        text: "@Html.ViewBag.Percentage1",
        verticalAlign: "center"
        },
        toolTip: {
            enabled: false
    },
	data: [{
		type: "doughnut",
		startAngle: -90,

		dataPoints: @Html.Raw(ViewBag.DataPoints1)
	}]
});
    chart.render();
    var chart2 = new CanvasJS.Chart("chartContainer2", {
        animationEnabled: false,
	title: {
        text: "@Html.ViewBag.Percentage2",
        verticalAlign: "center"
        },
        toolTip: {
            enabled: false
    },
	data: [{
		type: "doughnut",
		startAngle: -90,

		dataPoints: @Html.Raw(ViewBag.DataPoints2)
	}]
});
    chart2.render();
    var chart3 = new CanvasJS.Chart("chartContainer3", {
        animationEnabled: false,
	title: {
        text: "@Html.ViewBag.Percentage3",
        verticalAlign: "center"
        },
        toolTip: {
            enabled: false
    },
	data: [{
		type: "doughnut",
		startAngle: -90,

		dataPoints: @Html.Raw(ViewBag.DataPoints3)
	}]
});
    chart3.render();


}
    </script>
</head>
<body class="container">
    <h1 class="text-center">Vacature: Verpleger</h1>
    <div class="alert alert-info">
        <h4>Uitleg:</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        <h5>Email: test@test.be</h5>
        <h5>Datum: 22/10/2019</h5>
    </div>
    <div>
        <h2 class="text-center">Rubrics</h2>
        <div class="row">
            <div class="col-sm" id="chartContainer1" style="width: 32%; height: 300px;display: inline-block;"></div>
            <div class="col-sm" id="chartContainer2" style="width: 32%; height: 300px;display: inline-block;"></div>
            <div class="col-sm" id="chartContainer3" style="width: 32%; height: 300px;display: inline-block;"></div>
        </div>

        <div class="alert alert-success">
            <div class="d-flex justify-content-around">
                <h3>Grondhouding</h3>
                <h3>Kennis</h3>
                <h3>Vaardigheden</h3>
            </div>

            <div></div>
            <h5>Het diagram toont aan hoeveel de visie van de sollicitant overeen komt met die van u.</h5>
        </div>
        <hr />


        <h2 class="text-center">Grondhouding</h2>

        <div class="container">
            <h4>Competentie: Connectie maken via dagdagelijksheid</h4>
            <h5>Verklaring: De hulpverlener gebruikt de dagdagelijkse context om een authentiek contact met de cliënt te bewerkstelligen en  tot verdieping te komen in de gesprekken.</h5>


            <div class="alert alert-success">
                <h5>Vraag: Hoe kijkt U naar gesprekken over alledaagse zaken met cliënten (zoals over het weer, de voetbal, …) en hoe gaat u hiermee om?</h5>
                <h5>Antwoord sollicitant:</h5>
                <div class="panel-body">
                    Ik denk dat in zekere mate kan maar teveel kan de proffessionele relatie beinvloeden.

                </div>

            </div>
        </div>
        <div class="container">
            <h4>Competentie: Niet veroordelen</h4>
            <h5>Verklaring: De hulpverlener veroordeelt niet en is zich hierbij bewust van de invloed van zijn eigen waarde, opvoedings- en normenkader op zijn denken. </h5>
            <br />
            <p>Boris woont alleen in een uitgewoonde studio in een verpauperde buurt van de gemeente. Na een residentiële opname van drie maanden werd hij  aangemeld voor mobiele psychiatrische zorg zodat jij zijn opvolging doet sinds een aantal weken. De begeleiding loopt in jouw opinie wat stroever, Boris heeft het vooral over praktische zaken die in orde zouden moeten gebracht worden.Boris heeft een zoon van 17 en een dochter van 12 waar hij het vaak over heeft, maar hij ziet hen relatief weinig.Enkele maanden geleden had Boris het over het feit dat hij het zeer jammer vindt dat hij voor de feestdagen geen geschenku voor zijn kinderen kan kopen. u brengt dit ter sprake bij de bewindvoerder die begin december 300 euro extra voorziet op zijn wekelijks bedrag van 100 euro.Bij jouw volgende huisbezoek zie u dat Boris een nieuwe smartphone heeft met een driedubbele camera.</p>
            <div class="alert alert-success">
                <h5>Vraag: Welke actie onderneemt U?</h5>
                <h5>Antwoord sollicitant:</h5>
                <div class="panel-body">
                    U spreekt Boris aan over het feit dat U het jammer vindt dat hij het zorgsysteem misbruikt heeft

                </div>
                <h5>Vraag: Waarom zou u dit doen?</h5>
                <h5>Antwoord sollicitant:</h5>
                <div class="panel-body">
                    Dit is geen gedrag dat binnen de bedrijfscultuur past.

                </div>
            </div>
        </div>
        <hr />
    </div>
    <div>
        <h2 class="text-center">Kennis</h2>
        <hr />
    </div>
    <div>
        <h2 class="text-center">Vaardigheden</h2>

    </div>



</body>
</html>
