@model List<CompetentieTool.Models.ViewModels.Group<string, CompetentieTool.Models.ViewModels.VraagViewModel>>

@{
    ViewData["Title"] = "Vragenlijst";
}
@{
    int counter = 1;
}
<script src="https://code.jquery.com/jquery-latest.js"></script>
<script src="~/js/wizard.js"></script>


<h2>Vragenlijst</h2>
<form asp-controller="Sollicitant" asp-action="Submit" asp-route-id="@ViewData["id"]" method="post" class="form-group">
    <div class="container" id="wizard">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="start">
                Welkom bij de vragenlijst
            </div>
            @for (int i = 0; i < Model.Count; i++)
            {

                <div role="tabpanel" class="tab-pane" id="@Model[i].Key">
                    @if (Model[i].Key != null)
                    {
                        <div class="panel">
                            <h2>Casus</h2>
                            <div class="panel-body">@Model[i].Key</div>
                        </div>
                    }

                    @for (int j = 0; j < Model[i].Values.Count(); j++)
                    {

                        <div class="panel">
                            <h2 class="panel-heading">Vraag @counter</h2>
                            @{counter++;}
                            <div class="panel-body">

                                <div>@Model[i].Values[j].VraagStelling</div>
                                @if (Model[i].Values[j].opties.Count > 0)
                                {

                                    @foreach (var opt in Model[i].Values[j].opties)
                                    {
                                        <div class="radio">
                                            @Html.RadioButtonFor(m => Model[i].Values[j].OptieKeuze, opt)
                                            <label>
                                                @opt
                                            </label>
                                        </div>

                                    }
                                    <br />
                                    <p>Geef uw redenering</p>
                                }
                                <textarea asp-for="@Model[i].Values[j].Redenering" rows="5" id="@Model[i].Values[j].VraagId"></textarea>
                                @Html.HiddenFor(m => Model[i].Values[j].VraagId)
                            </div>
                        </div>
                    }
                </div>
            }

        </div>
        <!--<button class="btn btn-default pull-right">SAVE</button>-->
    </div>
    <input type="submit" value="submit" />
</form>
<button class="nexttab btn btn-default">Next</button>
