@model CompetentieTool.Models.ViewModels.SollicitantViewModel
@{
    ViewData["Title"] = "Vragenlijst";
}
@{
    int counter = 1;
    int tabCounter = 0;
    int questionCounter = 0;
}
<script src="https://code.jquery.com/jquery-latest.js"></script>
@*<script src="~/js/wizard.js"></script>*@
<h2>Vragenlijst</h2>
<form asp-controller="Sollicitant" asp-action="Submit" asp-route-id="@ViewData["id"]" method="post" class="form-group">
    <div class="container" id="wizard">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="start">
                <div class="panel">
                    <div class="panel-body">
                        <h3>Welkom bij de vragenlijst voor vacature:</h3>
                        <br />
                        De bedoeling van deze vragenlijst is om de werkgever een beter beeld van uw competenties te geven.
                        Vul elke vraag in en geef waar nodig meer uitleg. <br />
                        U kunt niet terugkeren na het ingeven van uw antwoord dus denk goed na. <br />
                        <strong>Druk op het einde van de vragenlijst op de opslaan knop om uw antwoorden door te sturen. </strong>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="sollicitant">
                <div class="form-group col-sm-12">
                    <div class="col-sm-6">
                        @Html.Label("Voornaam", "Voornaam")
                        @Html.TextBoxFor(model => model.Voornaam, new { placeholder = "voornaam", @class = "form-control" })
                    </div>
                    <div class="col-sm-6">
                        @Html.Label("Input.Achternaam", "Achternaam")
                        @Html.TextBoxFor(model => model.Achternaam, new { placeholder = "achternaam", @class = "form-control" })
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <div class="col-sm-6">
                        @Html.Label("Email-adres", "EmailAdres")
                        @Html.TextBoxFor(model => model.EmailAdres, new { placeholder = "example@mail.com", @class = "form-control" })
                    </div>
                    <div class="col-sm-6">
                        @Html.Label("Telefoonnummer", "TelefoonNummer")
                        @Html.TextBoxFor(model => model.TelefoonNummer, new { placeholder = "+32 470 35 18 20", @class = "form-control" })
                    </div>
                </div>
            </div>
            @for (int i = 0; i < Model.Competenties.Count; i++)
            {
                questionCounter = 0;
                @while (questionCounter < Model.Competenties[i].Values.Count())
                {

            <div role="tabpanel" class="tab-pane" id="@tabCounter">
                @if (Model.Competenties[i].Key != null)
                {
                    <div class="panel">
                        <h2>Casus</h2>
                        <div class="panel-body">@Model.Competenties[i].Key</div>
                    </div>
                }
                @for (int j = 0; j < 5; j++)
                {
                    @if (questionCounter >= Model.Competenties[i].Values.Count())
                    {
                        break;
                    }


                    <div class="panel">
                        <h2 class="panel-heading">Vraag @counter</h2>
                        @{counter++;}
                        @for (int k = 0; k < Model.Competenties[i].Values[questionCounter].VraagViewModels.Count(); k++)
                        {
                            <div class="panel-body">
                                <div>@Model.Competenties[i].Values[questionCounter].VraagViewModels[k].VraagStelling</div>
                                @if (Model.Competenties[i].Values[questionCounter].VraagViewModels[k].Opties.Count > 0)
                                {

                                    @foreach (var opt in Model.Competenties[i].Values[questionCounter].VraagViewModels[k].Opties)
                                    {
                                        @if (opt.Input != "")
                                        {
                                            <div class="radio">
                                                <label>@Html.RadioButtonFor(m => Model.Competenties[i].Values[questionCounter].VraagViewModels[k].OptieKeuzeId, opt.Id) @opt.Input</label>
                                            </div>
                                        }

                                    }
                                    <br />
                                }
                                else
                                {
                                    <textarea asp-for="@Model.Competenties[i].Values[questionCounter].VraagViewModels[k].Redenering" rows="5" id="@Model.Competenties[i].Values[questionCounter].VraagViewModels[k].VraagId"></textarea>
                                }
                                @Html.HiddenFor(m => Model.Competenties[i].Values[questionCounter].VraagViewModels[k].VraagId)
                            </div>
                        }
                    </div>
                    questionCounter++;



                }
            </div>
                }
            }



            <div role="tabpanel" class="tab-pane" id="finish">
                <div class="panel">
                    <div class="panel-body text-center">
                        <h3>Dank u voor het invullen van de vragenlijst. Klik hier om uw resultaten op te slaan</h3>
                    </div>
                    <div class="panel-footer text-center">
                        <input type="submit" value="opslaan" class="btn btn-success" />
                    </div>
                </div>
            </div>
        </div>
        <!--<button class="btn btn-default pull-right">SAVE</button>-->
    </div>
</form>
<button class="nexttab btn btn-default" id="nextBtn" onclick="topFunction()">Volgende</button>
