@model List<CompetentieTool.Models.ViewModels.Group<string, CompetentieTool.Models.ViewModels.VraagViewModel>>

@{
    ViewData["Title"] = "Vragenlijst";
}
@{
    int counter = 1;
}
<script src="https://code.jquery.com/jquery-latest.js"></script>


<h2>Vragenlijst</h2>
<form asp-controller="Sollicitant" asp-action="Submit" asp-route-id="@ViewData["id"]" method="post" class="form-group">
    <div class="container" id="wizard">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="start">
                <div class="panel">
                    <div class="panel-body">
                        <h3>Welkom bij de vragenlijst voor vacature:</h3>
                        <br />
                        De bedoeling van deze vragenlijst is om de werkgever een beter beeld van uw competenties te geven.
                        Vul elke vraag in en geef waar nodig meer uitleg. <br />
                        U kunt niet terugkeren na het ingeven van uw antwoord dus denk goed na. <br />
                        <strong>Druk op het einde van de vragenlijst op de opslaan knop om uw antwoorden door te sturen. </strong>
                    </div>
                </div>
            </div>
            @for (int i = 0; i < Model.Count; i++)
            {

                <div role="tabpanel" class="tab-pane" id="@Model[i].Key">
                    @if (Model[i].Key != null)
                    {
                        <div class="panel">
                            <h2>Casus</h2>
                            <div class="panel-body">@Model[i].Key</div>
                        </div>
                    }

                    @for (int j = 0; j < Model[i].Values.Count(); j++)
                    {

                        <div class="panel">
                            <h2 class="panel-heading">Vraag @counter</h2>
                            @{counter++;}
                            <div class="panel-body">

                                <div>@Model[i].Values[j].VraagStelling</div>
                                @if (Model[i].Values[j].opties.Count > 0)
                                {

                                    @foreach (var opt in Model[i].Values[j].opties)
                                    {
                                        <div class="radio">
                                            @Html.RadioButtonFor(m => Model[i].Values[j].OptieKeuze, opt)
                                            <label>
                                                @opt
                                            </label>
                                        </div>

                                    }
                                    <br />
                                    <p>Geef uw redenering</p>
                                }
                                <textarea asp-for="@Model[i].Values[j].Redenering" rows="5" id="@Model[i].Values[j].VraagId"></textarea>
                                @Html.HiddenFor(m => Model[i].Values[j].VraagId)
                            </div>
                        </div>
                    }
                </div>
            }
            <div role="tabpanel" class="tab-pane" id="finish">
                <div class="panel">
                    <div class="panel-body text-center" >
                        <h3>Dank u voor het invullen van de vragenlijst. Klik hier om uw resultaten op te slaan</h3>
                    </div>
                    <div class="panel-footer text-center">
                        <input type="submit" value="opslaan" class="btn btn-success" />
                    </div>
                </div>
                
                
            </div>
        </div>
        <!--<button class="btn btn-default pull-right">SAVE</button>-->
    </div>
    
</form>
<button class="nexttab btn btn-default">Next</button>
