@page
@model CompetentieTool.Areas.Identity.Pages.Account.RegisterSollicitantModel

@{
    ViewData["Title"] = "Nieuwe gebruiker | Sollicitant";
    
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-6">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <h3 class="col-md-12">Aanspreking</h3>
            <div class="form-group col-md-12">
                <div class="col-md-6">
                    @Html.Label("Input.Voornaam", "Voornaam")
                    @Html.TextBox("Input.Voornaam", "Bruce", new { @class = "form-control" })
                </div>
                <div class="col-md-6">
                    @Html.Label("Input.Achternaam", "Achternaam")
                    @Html.TextBox("Input.Achternaam", "Banner", new { @class = "form-control" })
                </div>
            </div>
            <h3 class="col-md-12">Persoonlijke gegevens</h3>
            <div class="form-group col-md-12">
                <div class="col-md-6">
                    @Html.Label("Input.Geboortedatum", "Geboortedatum")
                    @Html.EditorFor(model => model.Input.Geboortedatum, new { @type = "date" })
                </div>
                <div class="col-md-6">
                    @Html.Label("Input.Nationaliteit", "Nationaliteit")
                    @Html.TextBox("Input.Nationaliteit", "Belg", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group col-md-12">
                @Html.LabelFor(model => model.Input.Geslacht, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10 pl-3">
                    Man:
                    @Html.RadioButtonFor(model => model.Input.Geslacht, "M")
                    Vrouw:
                    @Html.RadioButtonFor(model => model.Input.Geslacht, "V", htmlAttributes: new { @class = "ml-1" })
                    Andere:
                    @Html.RadioButtonFor(model => model.Input.Geslacht, "X", htmlAttributes: new { @class = "ml-1" })
                </div>
            </div>
            <div class="form-group col-md-12">
                <div class="col-md-8">
                    @Html.Label("Input.Straat", "Straat")
                    @Html.TextBox("Input.Straat", "Beekstraat", new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    @Html.Label("Input.Huisnummer", "Huisnummer")
                    @Html.TextBox("Input.Huisnummer", "15", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group col-md-12">
                <div class="col-md-8">
                    @Html.Label("Input.Gemeente", "Gemeente")
                    @Html.TextBox("Input.Gemeente", "Gent", new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    @Html.Label("Input.Postcode", "Postcode")
                    @Html.TextBox("Input.Postcode", "9000", new { @class = "form-control" })
                </div>
            </div>
            <h3 class="col-md-12">Contact informatie</h3>
            <div class="form-group col-md-12">
                <div class="col-md-4">
                    @Html.Label("Input.Email", "Email")
                    @Html.TextBox("Input.Email", "voorbeeld@mail.be", new { @class = "form-control" })
                </div>
                <div class="col-md-8">
                    @Html.Label("Input.GsmNummer", "Gsm")
                    @Html.TextBox("Input.GsmNummer", "0123456789", new { @class = "form-control" })
                </div>
            </div>

            <h3 class="col-md-12">Beveiliging</h3>
            <div class="form-group col-md-12">
                <div class="col-md-6">
                    @Html.Label("Input.Password", "Wachtwoord")
                    @Html.Password("Input.Password")
                </div>
                <div class="col-md-6">
                    @Html.Label("Input.ConfirmPassword", "Wachtwoord bevestigen")
                    @Html.Password("Input.ConfirmPassword")
                </div>
            </div>
            <button type="submit" class="btn btn-default">Registreer</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
